/* =================== Editor =================== */
#editor {
  padding: 0px;
  margin: 0px;
}
#editor .editor-tabs {
  /*list-style: none;*/
  margin: 0px;
  padding: 0px;
  /*background: #232323;*/
  display: block;
  float: left;
  width: 100%;
  border-bottom: solid 1px;
  height: 31px;
}
#editor .editor-tabs li {
  display: inline-block;
  padding: 4px 10px;
  padding-right: 8px;
  padding-bottom: 6px;
  color: beige;
  background: #222;
  border-right: solid 1px #333;
  margin: 0px;
  float: left;
  cursor: pointer;
}
#editor .editor-tabs li i.fa {
  font-size: 10px;
  margin-left: 3px;
  color: #555;
}
#editor .editor-tabs li.active {
  background: #444;
}
#editor .editor-tabs li.active i.fa {
  color: #999;
}
#editor .editor-tabs li:hover {
  background: #333;
}
#editor .editor-tabs li:hover i.fa {
  color: #999;
}
#editor #ace-editor {
  display: block;
  border-radius: 0px;
  border: 0px;
  margin-top: 15px;
}
#editor #ace-editor .ace_gutter {
  margin-top: 10px;
}
#editor #ace-editor .ace_scroller {
  margin-top: 10px;
}